extends index

block content
  div(class="form-group")
    input(id="dir_search",class="form-control",oninput="search();",placeholder="Hľadaj")
  table(class='table table-hover')
    tr
      each field in fields
        if field.name != 'ID'
          th
            = field.name
    tbody(id="dir_table")
      include dir_table
