extends mgmt
block mgmt_content
  button(class="btn btn-primary",onClick="update('dhcp');")
    | DHCP
  button(class="btn btn-primary",onClick="update('exts');")
    | Exts
  button(class="btn btn-primary",onClick="update('sip');")
    | SIP/Phones
