extends mgmt

block mgmt_content
  table(table)
    tr
      td
        select(class="form-control",id='new_ID_Ext')
          each row in rows_exts
            option(value=row.ID)
              =row.Ext + " (" + row.Name + ")"   
      td
        select(class="form-control",id='new_ID_aScTea')
          each row in rows_asctea
            option(value=row.ID)
              =row.name
      td
        button(class="btn btn-primary",onClick="add('aScTea2Ext');return false;")
          | Add


  p(id='chart')
  script(src='/javascripts/asctea2ext.js')
      
block additionalScripts
  include sankey